package {{package.name}}.model;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@Builder(toBuilder = true)
@NoArgsConstructor
@AllArgsConstructor
public class {{entity.pascal_name}}ModelId {
    {%- for desc in entity.keys %}
    {# Blank line #}
    private {{desc.java_type}} {{desc.camel_name}};
    {%- endfor %}
}
