create table "{{entity.schema}}"."{{entity.table}}" (
  {%- for desc in entity.keys.array %}
  "{{desc.name}}" {{desc.db_type}} not null,
  {%- endfor %}
  {%- for desc in entity.columns.array %}
  "{{desc.name}}" {{desc.db_type}},
  {%- endfor %}
  primary key ({{ entity.keys.array | map(attribute="name") | join(sep=", ") }})
);
