package {{package.name}}.repository;

import org.springframework.data.jpa.repository.JpaRepository;
import {{package.name}}.entity.{{unit.pascal_name}}Entity;

public interface {{unit.pascal_name}}Repository extends JpaRepository<{{unit.pascal_name}}Entity, {{entity.pk.java_type}}> {
}
