#!/bin/bash
{%- for image in docker.images %}
docker build \
  --tag {{docker.namespace}}/{{image}}:{{docker.version}} \
  --build-arg="MODULE_NAME={{image}}" \
  --build-arg="MODULE_VERSION={{docker.version}}" \
  --file {{docker.filename}} \
  .
{%- endfor %}
