package {{package.name}};

import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Import;
import org.ntr1x.common.web.config.OpenApiConfig;
import org.ntr1x.common.web.config.WebMvcConfig;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;

@Configuration
@Import({
        WebMvcConfig.class,
        OpenApiConfig.class
})
@EnableJpaRepositories
public class {{module.suite_class}} {
}
